.char_container {
    width: 100vw;
    height: 120vh;
    max-width: 100%;
}

.char_content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.char_header {
    margin: 40px;
    font-size: 4vw;
    font-family: 'Inter';
    font-weight: 800;
    user-select: none;
    cursor: pointer;
    position: relative;
    transition: .2s;
}

.char_header:before {
    width: 0px;
    height: 5px;
    background: black;
    position: absolute;
    content: '';
    transform: translateY(80px);
    transition: .5s;
    border-radius: 50%;
}

.char_header:hover:before {
    width: 100%;
}

.char_content section {
    justify-content: center;
    width: 100%;
    display: grid;
    height: fit-content;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
}

.charImage {
    width: 150px;
    height: 150px;
}

#Image {
    width: 130px;
    height: 130px;
    box-shadow: 5px 5px 10px black;
    position: relative;
    z-index: 10;
    user-select: none;
    -webkit-user-drag: none;
    transition: .2s;
    cursor: pointer;
}

#Image:hover {
    border-radius: 30px;
}

#Blur {
    user-select: none;
    width: 100px;
    height: 100px;
    filter: blur(20px);
    position: absolute;
    z-index: -1;
    transform: translateX(-90%);
    -webkit-user-drag: none;
}

@media only screen and (max-width: 991px) {
    .char_header {
        font-size: 5vw;
    }

    .charImage {
        width: 90px;
        height: 90px;
    }

    #Image {
        width: 90px;
        height: 90px;
    }

    #Blur {
        width: 50px;
        height: 50px;
    }

    .char_content section {
        grid-template-columns: auto auto auto auto;
        gap: 30px;
    }
}

@media only screen and (max-width:600px) {
    .char_header {
        font-size: 12vw;
    }

    .charImage {
        width: 70px;
        height: 70px;
    }

    #Image {
        width: 70px;
        height: 70px;
    }

    .char_content section{
        gap: 15px;
    }
}